$defalt-wrapper-bg:#F7F7FC;
$primary-color-btn:#0056A4;
$color-accent-secondary:#1460A3;
$border-radius-xl:16px;
$border-radius-sm:8px;
$border-radius-sm-secondary:4px;
$default-text-color:#4D4853;
$transition-timing:0.4s;
$hover-sub-menu-color:#1460A31F;
$border-radius-xl-secondary:8px;
$hover-btn-primary:#0C3C68;
$color-accent:#E3000F;
$color-hover-accent:#BA1722;
$color-text-accent:#200E32;
$color-accent-third:#E6EFF6;
$footer-background:#0B2B48;
$color-accent-four:#C79A4D;