@import "_variables.scss";
@import "_mixins.scss";

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}


@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Medium.ttf");
    font-weight: 500;
}
 

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
    font-weight: 400;
}

.container{
    width: 1640px;
    margin-inline: auto;
   padding-inline: 20px;
    @include laptop{
        width: 100%;
        max-width: 1480px;
    }
    @include mobile-sm{
        padding-inline: 16px;
        
    }
}

.wrapper{
    display: flex;
    background: $defalt-wrapper-bg;
    flex-direction: column;
    min-height: 100vh;
    // overflow: hidden;
    & > .container:nth-child(1) {
        z-index: 1001;
        position: sticky;
        top: -20px;
        @include mobile-sm {
            top: -10px;
        }
        .sticky {
            border-radius: 0px 0px 16px 16px;
        }
    }

}
.content{
    flex-grow: 1;
}
.wrapper a{
    text-decoration: none;
    color: inherit;
}
.wrapper  ul{
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;

}
body{
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    color: $default-text-color;
    line-height: 1.4;
    @include mobile-sm{
        font-size: 14px;
        line-height: 1.4;
    }
    &.no-overflow {
        overflow: hidden;
        // .container {
        //     padding: 0;
        // }
    }
}
.wrapper h1{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
    font-family: "Unbounded";
    margin-bottom: 0px;
    text-transform: uppercase;
    @include tablet{
        font-size: 35px;
    }
    @include mobile{
        font-size: 31px;
        line-height: 1.3;
    }
}
.text-white{
    color: white;
}

.wrapper h2{
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: $color-text-accent;
    margin-bottom: 0px;
    @include mobile-sm{
        font-size: 24px;

    }

}
.wrapper h3{
    font-family: "Unbounded";
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 0px;
    font-weight: 400;
    text-transform: uppercase;
    @include mobile-sm{
        font-size: 18px;

    }
}

.wrapper h4{
    font-family: "Unbounded";
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 0px;
    font-weight: 400;
    text-transform: uppercase;
    @include mobile-sm{
        font-size: 16px;
        line-height: 1.2;
    }
  
}

.p-margin p:only-child{
    margin-bottom: 0px;
}
.p-margin p:not(:only-child){
    margin-bottom: 12px;
    @include mobile-sm{
        margin-bottom: 8px;
    }
}

.slider-scrollbar .swiper-scrollbar-drag{
    background: $color-accent-secondary;
}

/* Уход вверх по диагонали */
@keyframes disappear {
    0% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translate(150%, -150%) rotate(0deg);
      opacity: 0;
    }
  }
  
  /* Возвращение с другой стороны */
  @keyframes reappear {
    0% {
      transform: translate(-150%, 150%) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  .mobile-show {
    display: none;
    @include mobile-sm {
        display: block;
    }
}  
.mobile-hide {
    display: block;
    @include mobile-sm {
        display: none;
    }
}  


@import "./components/_breadcrumbs";
@import "./components/_buttons";
@import "./components/popup-come-out";
@import "./components/_header";
@import "./components/_header-dropdown";
@import "./components/_mobile-menu";
@import "./components/_main-banner";
@import "./components/_mini-banner";
@import "./components/_section-about-forum";
@import "./components/section-statistics";
@import "./components/section-meeting";
@import  "./components/card-meeting";
@import "./components/section-marafon";
@import "./components/section-speakers";
@import "./components/card-speakers";
@import "./components/slider-arrow";
@import "./components/section-members";
@import "./components/section-photo-gallery";
@import "./components/slider-arrow-chevron";
@import "./components/section-stream";
@import "./components/section-faq";
@import "./components/section-news";
@import "./components/section-brands";
@import "./components/_section-participant";
@import "./components/_section-placement";
@import "./components/_section-issue";
@import "./components/_forms";
@import "./components/_section-placement-list";
@import "./components/_paggination";
@import "./components/_section-photo";
@import "./components/_section-hotel";
@import "./components/_section-stream-item";
@import "./components/_section-news-list";



/*page marafaon */
@import "./components/banner-children";
@import "./components/section-marafon-page-conception";
@import "./components/card-color.scss";
@import "./components/notice-blue";
@import "./components/section-marafon-page-quote";
@import "./components/slider-quote";
/*end page marafon */

/*page parners */
@import "./components/section-page-partners-gos";
@import "./components/section-page-partners-another";
/*end page parners */

/*page forum */
@import "./components/forum-text-block";

/*page questions */
@import "./components/_section-page-questions";
@import "./components/_questions-form-block";

/*detail page questions */
@import "./components/section-detail-questions";

/*page contacts */
@import "./components/section-page-contacts";

@import "./components/program-list";

@import "./components/_acc";


@import "./components/_sliders";

@import "./components/footer";






.faq-wrapper {
    // display: flex;
    display: grid;
    grid-template-columns: 518px 1fr;
    gap: 22px;
}
.faq {
    z-index: 120;
    position: relative;
    padding: 37px 32px 18px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
}
.aside {
    display: flex;
    flex-direction: column;
    background-color: #0056A4;
    padding: 56px 72px 67px;
    border-radius: 16px;
    overflow: hidden;
    color: white;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    overflow: hidden;
}
.faq__item {
    width: 100%;
    margin-bottom: 8px;
}
.faq__item:nth-last-child(1) {
    margin-bottom: 0;
}
.faq__title {
    position: relative;
    z-index: 100;
    font-size: 20px;
    line-height: 1;
    color: $color-text-accent;
    padding: 31px 12px 31px 32px;
    background-color: $color-accent-third;
    width: calc(100% - 18px);
    border-radius: $border-radius-xl-secondary;
    position: relative;
    color: $color-text-accent;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all $transition-timing ease  ;
}
.faq__descr {
    display: none;
    margin-top: 8px;
    padding: 16px 0px 24px 32px;
    a{
      color:$color-accent-secondary;
      text-decoration: underline;
    }

    @include mobile-sm{
        padding: 16px;
        
    }
    p{
        margin-bottom: 4px;
    }
}