.banner-children {
    &--marafon {
        margin-bottom: 64px;
        @include mobile-sm{
            margin-bottom: 32px;
        }
    }
    

    &--program{
        margin-bottom: 48px;
    }

    margin-top: 16px;

    &__content {
        position: relative;
        z-index: 100;
    }

    &__inner {
        padding: 48px 72px 48px;
        border-radius: $border-radius-xl;
        position: relative;
        overflow: hidden;
        @include mobile-sm{
            border-radius: $border-radius-sm; 
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #0F1A3DA6;
            z-index: 1;
        }

        @include tablet {
            padding: 48px 42px 48px;
            ;
        }

        @include mobile-sm {
            padding: 32px 17px 32px;
        }
        @include mobile-sm {
            padding: 32px 16px;
        }
    }

    &__title{
        position: relative;
    }
    &__description {
        color: #fff;
        font-size: 16px;
        line-height: 25px;
        max-width: 988px;
        & + .banner-children__block-button {
            .btn {
                max-width: 364px;
            }
            
        }
    }
    &--date-place {
        margin-top: 24px;
        position: relative;
    }
    &__date {
        left: 0;
        top: -48px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
        color: #fff;
        display: flex;
        align-items: center;
        position: absolute;
        .banner-children--date-place & {
            top: -84px;
        }
        @include mobile  {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 16px;
        }
        svg {
            margin-right: 12px;
            @include mobile {
                width: 20px;
                height: 20px;
            }
        }
    }
    &__place {
        left: 0;
        top: -48px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
        color: #fff;
        display: flex;
        align-items: center;
        position: absolute;
        @include mobile  {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 16px;
        }
        svg {
            margin-right: 12px;
            @include mobile {
                width: 20px;
                height: 20px;
            }
        }
    }


    &__title {
        @include mobile-sm {
            h1 {
                word-break: break-all;
                hyphens: auto;

            }
        }
    }

    &__block-button {
        margin-top: 24px;
        .btn {
            max-width: 248px;
            width: 100%;
            margin-right: 16px;
            @include mobile-sm{
                max-width: 227px;
            }
        }
    }

    &__block-links {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
        overflow: auto;
        .btn {
            flex-shrink: 0;
            @include mobile {
                background-color: transparent;
                color: #fff;
            }
        }
    }


    &__group {

        z-index: 100;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mobile-sm {
            gap: 24px;
        }
    }

    
}