.banner-children {
    &--marafon {
        margin-bottom: 64px;
    }

    margin-top: 16px;

    &__content {
        position: relative;
        z-index: 100;
    }

    &__inner {
        padding: 48px 72px 48px;
        border-radius: $border-radius-xl;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #0F1A3DA6;
            z-index: 1;
        }

        @include tablet {
            padding: 48px 42px 48px;
            ;
        }

        @include mobile-sm {
            padding: 32px 17px 32px;
        }
    }

    &__title {
        @include mobile-sm {
            h1 {
                word-break: break-all;
                hyphens: auto;
            }
        }
    }

    &__block-button {
        .btn-red {
            max-width: 248px;
            width: 100%;
            @include mobile-sm{
                max-width: 227px;
            }
        }
    }

    &__group {
        z-index: 100;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mobile-sm {
            gap: 24px;
        }
    }
}