.breadcrumbs {
    position: relative;
    z-index: 100;
    &--partners{
        margin-bottom: 140px;
        @include mobile-sm{
            margin-bottom: 59px;
        }
    }
    &--margin-marafon{
        margin-bottom:120px ;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        color: white;
        gap: 8px;
        align-items: center;
        font-size: 15px;
        line-height: 1.3;
        padding: 0px !important;
        
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        font-size: 12px;
        &::-webkit-scrollbar{
            width: 0;
        }
        li svg{
            margin-right: 8px;
        }
        li{
            flex-shrink: 0;
        }
    }
}