button {
    border: 0;
    outline: none;
}

.btn.btn-cabinet{

   display: inline-flex;
   padding: 10px;
   border-radius: $border-radius-xl-secondary;
   color: white;
   align-items: center;
   line-height: 1.2;
   gap:8px;
   @include tablet{
    display: none;
   }

}
.btn{
    background-color:$primary-color-btn;
    transition: all ease $transition-timing;
    @include hover{
        background-color: $hover-btn-primary;
        cursor: pointer;
    }
}
.btn-registry{
    display: inline-flex;
    background-color: #E3000F;
    padding: 16px 48px;
    font-size: 16px;
    border-radius: $border-radius-xl-secondary;
    font-weight: 600;
    line-height: 1.2;
    transition: all ease $transition-timing;
    @include hover{
        background-color: $color-hover-accent;
    }
    @include mobile-sm{
        font-size: 14px;
        padding: 12px 24px;
    }
}
.btn.btn-business{
    display: inline-flex;
    padding: 16px 56px;
    line-height: 1.2;
    border-radius: $border-radius-xl-secondary;
    background-color: #0056A41A;
    color: $primary-color-btn;
    font-size: 16px;
    font-weight: 600;
    transition: all ease $transition-timing;
   
    @include hover{
        color: white;
        background-color: $primary-color-btn;
    }
    @include mobile-sm{
        font-size: 14px;
        padding: 12px 16px;
        border-radius: $border-radius-xl-secondary;
    }
}
.btn.btn-registration{
    line-height: 1.2;
    display: inline-flex;
    padding: 16px 71.5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: $border-radius-xl-secondary;
    color: white;

    @include mobile-sm{
        font-size: 14px;
        padding: 12px 16px;
        border-radius: $border-radius-xl-secondary;
    }
}
.btn.btn-primary{
    display: inline-flex;
    padding: 10px 37px;
    border-radius: $border-radius-xl-secondary;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    @include mobile-sm{
        font-size: 14px;
        padding: 10px 36px;
        border-radius: $border-radius-sm-secondary;
    }
}
.btn.btn-secondary{
    display: inline-flex;
    padding: 10px 37px;
    border-radius: $border-radius-xl-secondary;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $color-accent-secondary;
    background: $color-accent-third;
    @include mobile-sm{
        font-size: 14px;
        padding: 10px 36px;
        border-radius: $border-radius-sm-secondary;
    }
    @include hover{
        background: $primary-color-btn;
        color: #fff;
    }
}
.btn.btn-border{
    display: inline-flex;
    padding: 10px 37px;
    border-radius: $border-radius-xl-secondary;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $color-accent-secondary;
    background: $color-accent-third;
    border: 1px solid $color-accent-secondary;
    @include mobile-sm{
        font-size: 14px;
        padding: 10px 36px;
        border-radius: $border-radius-sm-secondary;
    }
    @include hover {
        background: $primary-color-btn;
        color: #fff;
    }
}
.btn.btn-red{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: $border-radius-xl-secondary;
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    background-color: $color-accent;
    color: white;
    line-height: 1.2;
    transition: .35s ease-in-out all;
    @include mobile-sm{
        font-size: 14px;
        padding: 12px;
        border-radius: $border-radius-sm-secondary;
    }
    @include hover {
        background-color: $color-hover-accent;
    }
}
.btn-upper{
    display:none; 
    position:fixed; 
    z-index: 1000;
    bottom:20px;
    right:calc(((100vw - 1600px ) / 2 )) ;
    transform: translateX(calc(100% + 34px));
    z-index:100;
    cursor: pointer;
    display: inline-flex;
    width: 64px;
    height: 64px;
    border-radius:$border-radius-xl-secondary ;
    align-items: center;
    justify-content: center;
    background-color: $color-accent-secondary;

    border: 0;
    transition: all ease 0.4s;
    @media (max-width:1800px) {
        right:calc(((100vw - 1400px ) / 2 )) ;
        transform: translateX( calc( 100% - 30px )) ;
    }
    @include laptop{
        right:calc(((100vw - 1400px ) / 2 )) ;
        transform: translateX( calc( 100% - 72px )) ;
    }
    @media (max-width:1420px) {
        right:4%;
        transform: translateX(0);
    }
    @include laptop-sm{
        right:calc(((100vw - 1200px ) / 2 )) ;
        transform: translateX(-144px);
    }
    @include tablet{
      
        right: calc(-20px - 17px);
        transform: translateX(-72px);
    }
    @include mobile-sm{
        right: calc(-16px - 10px);
        width: 52px;
        height: 52px;
    }

    @include hover{
        background-color: #0C3C68;
    }
}

.btn.btn-transparent {
    padding: 16px 32px 16px 24px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .arrow {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../images/btn-arrow.svg) center no-repeat;
        background-size: cover;
        position: absolute;
        top: 5px;
        right: 5px;
        transform-origin: center;
        transition: .35s ease-in-out all;
    }
    @include hover {
        .arrow {
            transform: rotate(45deg);
        }
    }
    @include mobile-sm{
        font-size: 14px;
        padding: 10px 36px;
        border-radius: $border-radius-sm-secondary;
    }
}

.btn.btn-white--opacity {
    padding: 16px 48px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include mobile-sm{
        font-size: 14px;
        padding: 10px 36px;
        border-radius: $border-radius-sm-secondary;
    }
    @include hover {
        background: $primary-color-btn;
    }
}


.btn.btn-light {
    padding: 16px 32px 16px 24px;
    background: rgba(0, 86, 164, 0.05);
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: $color-accent-secondary;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include mobile-sm{
        font-size: 14px;
        padding: 10px 36px;
        border-radius: $border-radius-sm-secondary;
    }
}
.btn.btn-question{
    padding: 16px;
    border-radius: $border-radius-sm-secondary;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    color: $color-accent-secondary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid transparent;
    transition: all $transition-timing ease;
    @include mobile-sm{
        padding: 12px;
        font-size: 14px;
        line-height: 1.1;
    }
    @include hover{
        background-color: $primary-color-btn;
        border: 1px solid white;
        color: white;
    }
}
.btn.btn-back{
    background-color: #0056A41A;
    padding: 16px;
    min-width: 176px;
    display: inline-flex;
    gap: 8px;
    font-weight: 600;
    color: $primary-color-btn;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-xl-secondary;
    transition: all $transition-timing ease;
    svg path{
        transition: all $transition-timing ease;
    }
    @include hover{
        background-color: $primary-color-btn;
        color: white;
        svg path{
            stroke: white;
        }
    }
    @include mobile-sm{
        max-width: 100%;
        font-size: 14px;
        gap: 4px;
        padding: 12px;
        width: 100%;
        svg{
            width: 16px;
            height: 16px;
        }
    }

}

.btn.btn--like-select {
    justify-content: space-between;
}