

.card-meeting{
    position: relative;
    background-color: #1460A3;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-xl;
    overflow: hidden;
    min-height: 335px;
    position: relative;
    overflow: hidden;
    border-color: transparent;
     perspective: 1000px; /* Перспектива для 3D эффекта */
    &--black{
        .card-meeting__name{
            color: $color-text-accent;
            
        }  
        .card-meeting__arrow path{
            stroke: #85929E;
        }
    }

    
    @include mobile-sm{
        min-height: 156px;
        border-radius: $border-radius-sm;
    }
    &:before{
        content: "";
        position: absolute;
        background-color: #1460A3;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        transform: rotateY(0deg);
        transition: transform 0.8s ease,right 0.8s ease,opacity 0.4s ease;; /* Плавный переход */
        opacity: 0;
        
        border-radius: $border-radius-xl;
        @include  mobile-sm{
            border-radius: $border-radius-sm;
        }

    }
    
    @include hover{
       
      
        &:before{
            z-index: 1;
            content: "";
            left: 0;
            width: 100%;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 1;
            transform: rotateY(180deg); /* Поворот при наведении */

    
        }
        .card-meeting__arrow{
            transform: rotate(45deg);
            path{
            stroke: white;
            }
        }
        .card-meeting__name{
            color: white;
        }
      
        
    }
    
  
    img{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        transition: all ease $transition-timing;
      
    }
    &__layer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: $border-radius-xl;
        width: calc(100% - 23px);
        overflow: hidden;
        flex-grow: 1;
        position: relative;
        @include mobile-sm{
            width: calc(100% - 12px);
            border-radius: $border-radius-sm;
        }
       
    }
    &__name{
        position: relative;
        color: white;
        z-index: 100;
        padding: 0px 32px 33px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        @include mobile-sm{
            font-size: 16px;
            line-height: 1.3;
            padding: 0px 16px 14px;
        }
    }
    &__arrow{
        position: absolute;
        top: 23px;
        right: 19px;
        z-index: 101;
        transition: all ease $transition-timing;
        @include mobile{
            width: 16px;
            height: 16px;
        }
    }
}
