.card-speakers{
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all $transition-timing ease;
    &__image{
        margin-bottom: 16px;
        border-radius: $border-radius-xl-secondary;
        overflow: hidden;
        @include mobile-sm{
            border-radius: $border-radius-sm;
          
        }
    }
    &.swiper-slide{
        opacity: 1;
        .card-speakers__image{
            transition: aspect-ratio 0.5s ease, transform 0.5s ease;
        }
    }
    &.swiper-slide-active{
        .card-speakers__image {
            aspect-ratio: 349/484;
            // min-height: 484px;
            @include mobile-sm{
                min-height: 245px;
                aspect-ratio: 245/272;
            }
        }
        .card-speakers__image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include mobile-sm{
                object-fit: cover;
            }
        }
    }

   
        .card-speakers__image {
            aspect-ratio: 349/388;
            // min-height: 388px;
            @include mobile-sm{
                min-height: 245px;
                aspect-ratio: 245/272;
            }
        }
        .card-speakers__image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include mobile-sm{
                object-fit: cover;
            }
        }
    



    &__name{
        color: $color-text-accent;
        font-family: "Unbounded";
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
        white-space: normal;
        @include mobile-sm{
            font-size: 16px;
            line-height: 1.2;
        }
      
    }
    &__text{
        line-height: 1.5;
    }
}