.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-sm {
        flex-direction: column;
    }
    .fieldset {
        width: calc(50% - 10px);
        @include mobile-sm {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &--four {
        flex-wrap: wrap;
        .fieldset {
            width: calc(25% - 10px);
            @include tablet {
                width: calc(50% - 10px);
            }
            @include mobile-sm {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .btn {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    height: 60px;
    padding: 0 16px;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 8px;
    background: rgba(0, 86, 164, 0.05);
    @include mobile-sm {
        height: 49px;
    }
    &::placeholder {
        transform-origin: 0 0;
        font-size: 15px;
        transition: .35s ease-in-out all;
    }
    &:hover {
        &::placeholder {
            opacity: 0.5;
        }
    }
    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }
}

textarea {
    height: 100px;
    resize:none;
    padding: 12px 16px;
    @include mobile-sm {
        height: 80px;
    }
}

.placeholder {
    position: absolute;
    left: 16px;
    bottom: 12px;
    transition: .35s ease-in-out all;
    transform-origin: 0 0;
    cursor: text;
}

input,
textarea{
    &:focus + .placeholder,
    .not-empty & + .placeholder {
        bottom: calc(100% - 26px);
        transform: scale(.6);
    }
    .fieldset--required & {
        & + .placeholder {
            &::after {
                content: '*';
                display: inline-block;
                margin-left: 3px;
                color: $color-accent;
            }
        }
    }
}


.fieldset-file {
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 86, 164, 0.05);
    cursor: pointer;
    &__title {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 4px;
        color: $primary-color-btn;
        span {
            color: $color-accent;
        }
    }
    &__descr {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}

.fieldset {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    &--submit {
        width: auto;
        #popup-questions & {
            margin-top: 20px;
            .btn {
                width: 190px;
            }
            
        }
    }
    &+span {
        display: block;
        margin-top: -16px;
        font-size: 14px;
    }
    &--file {
        width: 100%;
        border: 1px dashed $primary-color-btn;
        background: #fff;
        border-radius: 8px;
        padding: 10px;
        input {
            display: none;
        }
        svg {
            margin-bottom: 12px;
        }
    }
    .error {
        color: $color-accent;
        display: none;
        font-size: 11px;
        position: absolute;
        left: 16px;
        bottom: -15px;
    }
    &--error {
        input {
            border: 1px solid $color-accent;
        }
        margin-bottom: 20px;
        .error {
            display: block;
        }
    }
}


.checkbox {
    background: transparent;
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    .error { 
        left: 32px;
    }
    .like-checkbox{
        a {
            text-decoration: underline;
            @include hover {
                text-decoration: none;
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            background: rgba(0, 86, 164, 0.05);
            border: 1px solid $primary-color-btn;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 14px;
            height: 14px;
            border-radius: 4px;
            background: $primary-color-btn;
            transform-origin: 50% 50%;
            transform: scale(0);
            transition: .35s ease-in-out all;
        }}
    input[type="checkbox"] {
        display: none;
        &:checked{
            & + .like-checkbox {
                &::after {
                    transform: scale(1);
                }
            }
        }
    }
}

.registration {
    padding: 48px 72px;
    background: #fff;
    border-radius: $border-radius-xl;
    margin: 64px 0 80px;
    @include tablet {
        padding: 48px 42px 48px;
    }
    @include mobile-sm {
        padding: 32px 17px 32px;
    }
    @include mobile-sm {
        padding: 32px 16px;
    }
}

.input-block {
    padding-left: calc(100% - 851px);
}

.form-part {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 96px;
    @include laptop {
        grid-template-columns: 1fr;
    }
    &__descr {
        @include laptop {
            margin-bottom: 30px;
        }   
    }
    &:nth-last-child(1) {
        margin-bottom: 0;
    }
    &__text {
        width: 400px;
    }
    .btn.btn-red {
        padding: 16px 50px;
    }
}

.form-descr {
    margin-top: 50px;
    margin-bottom: 48px;
    span {
        color: $color-accent;
    }
}

.fieldset--empty {
    width: 100%;
    height: 54px;
    background: rgba(0, 86, 164, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $primary-color-btn;
    }
}


textarea:focus + .placeholder,
.not-empty textarea + .placeholder{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


#map {
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    background-color: #ccc;
    position: absolute;
    left: 32px;
    top: 32px;
    @include mobile {
        top: initial;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.overlay-wrapper {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1105;
    display: none;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 26, 61, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
        align-items: flex-end;
    }
}

.modal {
    width: calc(100% - 140px);
    max-width: 1062px;
    height: 80vh;
    max-height: 670px;
    background: #fff;
    position: relative;
    border-radius: 16px;
    transition: .35s ease-in-out all;
    transform: translateY(-20%);
    @include mobile {
        width: calc(100% - 20px);
        border-radius: 16px 16px 0 0;
    }
    &--show {
        transform: translate(0);
    }
    &__close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        top: 0;
        right: -60px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        transition: .35s ease-in-out all;
        @include mobile {
            display: none;
        }
        svg {
            transform-origin: center;
            transition: .35s ease-in-out all;
        }
        @include hover {
            cursor: pointer;
            svg {
                transform: scale(1.25);
            }
        }
    }
}

.card-placement__img {
    width: 76px;
    height: 53px;
}
.card-placement__map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-placement__name {
        margin-bottom: 0;
        margin-left: 16px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
    }
    a {
        margin-left: 68px;
        color: $primary-color-btn;
        font-size: 14px;
        text-decoration: underline;
        @include hover {
            text-decoration: none;
        }
        @include mobile {
            margin-left: 65px;
        }
    }
}

.ymaps-2-1-79-balloon__content {
    display: none !important;
}

.map-content {
    position: absolute;
    z-index: 1001;
    background: #fff;
    padding: 8px 32px 8px 8px;
    left: 43px;
    top: 43px;
    box-shadow: 0 0 5px -3px #000;
    border-radius: 4px;
    display: none;
    @include mobile {
        top: initial;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 12px;
        border-radius: 8px 8px 0 0;
    }
    svg {
        position: absolute;
        right: 4px;
        top: 4px;
        @include hover {
            cursor: pointer;
        }
    }
}

.no-overflow {
    overflow-y: hidden;
}

.card-placement__map {
    @include mobile {
        display: flex;
        flex-direction: column;
        .card-placement__img {
            width: 303px;
            height: 115px;
            margin-bottom: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.modal-title {
    display: none;
    @include mobile {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        padding: 18px 16px;
        svg {
            margin-right: 20px;
        }
    }
}

#detail-map {
    width: 100%;
    height: 100%;
}