.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-sm {
        flex-direction: column;
    }
    .fieldset {
        width: calc(50% - 10px);
        @include mobile-sm {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &--four {
        flex-wrap: wrap;
        .fieldset {
            width: calc(25% - 10px);
            @include tablet {
                width: calc(50% - 10px);
            }
            @include mobile-sm {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .btn {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    height: 60px;
    padding: 0 16px;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 8px;
    background: rgba(0, 86, 164, 0.05);
    @include mobile-sm {
        height: 49px;
    }
    &::placeholder {
        transform-origin: 0 0;
        font-size: 15px;
        transition: .35s ease-in-out all;
    }
    &:hover {
        &::placeholder {
            opacity: 0.5;
        }
    }
    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }
}

textarea {
    height: 100px;
    resize:none;
    padding: 12px 16px;
    @include mobile-sm {
        height: 80px;
    }
}

.placeholder {
    position: absolute;
    left: 16px;
    bottom: 12px;
    transition: .35s ease-in-out all;
    transform-origin: 0 0;
    cursor: text;
}

input,
textarea{
    &:focus + .placeholder,
    .not-empty & + .placeholder {
        bottom: calc(100% - 26px);
        transform: scale(.6);
    }
    .fieldset--required & {
        & + .placeholder {
            &::after {
                content: '*';
                display: inline-block;
                margin-left: 3px;
                color: $color-accent;
            }
        }
    }
}


.fieldset-file {
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 86, 164, 0.05);
    cursor: pointer;
    &__title {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 4px;
        color: $primary-color-btn;
        span {
            color: $color-accent;
        }
    }
    &__descr {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}

.fieldset {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    &--submit {
        width: auto;
        #popup-questions & {
            margin-top: 20px;
            .btn {
                width: 190px;
            }
            
        }
    }
    &+span {
        display: block;
        margin-top: -16px;
        font-size: 14px;
    }
    &--file {
        width: 100%;
        border: 1px dashed $primary-color-btn;
        background: #fff;
        border-radius: 8px;
        padding: 10px;
        input {
            display: none;
        }
        svg {
            margin-bottom: 12px;
        }
    }
    .error {
        color: $color-accent;
        display: none;
        font-size: 11px;
        position: absolute;
        left: 16px;
        bottom: -15px;
    }
    &--error {
        input {
            border: 1px solid $color-accent;
        }
        margin-bottom: 20px;
        .error {
            display: block;
        }
    }
}


.checkbox {
    background: transparent;
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    .error {
        left: 32px;
    }
    .like-checkbox{
        a {
            text-decoration: underline;
            @include hover {
                text-decoration: none;
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            background: rgba(0, 86, 164, 0.05);
            border: 1px solid $primary-color-btn;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 14px;
            height: 14px;
            border-radius: 4px;
            background: $primary-color-btn;
            transform-origin: 50% 50%;
            transform: scale(0);
            transition: .35s ease-in-out all;
        }}
    input[type="checkbox"] {
        display: none;
        &:checked{
            & + .like-checkbox {
                &::after {
                    transform: scale(1);
                }
            }
        }
    }
}

.registration {
    padding: 48px 72px;
    background: #fff;
    border-radius: $border-radius-xl;
    margin: 64px 0 80px;
    @include tablet {
        padding: 48px 42px 48px;
    }
    @include mobile-sm {
        padding: 32px 17px 32px;
    }
    @include mobile-sm {
        padding: 32px 16px;
    }
}

.input-block {
    padding-left: calc(100% - 851px);
}

.form-part {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 96px;
    @include laptop {
        grid-template-columns: 1fr;
    }
    &__descr {
        @include laptop {
            margin-bottom: 30px;
        }   
    }
    &:nth-last-child(1) {
        margin-bottom: 0;
    }
    &__text {
        width: 400px;
    }
    .btn.btn-red {
        padding: 16px 50px;
    }
}

.form-descr {
    margin-top: 50px;
    margin-bottom: 48px;
    span {
        color: $color-accent;
    }
}

.fieldset--empty {
    width: 100%;
    height: 54px;
    background: rgba(0, 86, 164, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $primary-color-btn;
    }
}
