.header {

    background-color: #FFFFFF;
    box-shadow: 3px 5px 25px 0px #09132714;
    padding: 9px 24px;
    border-radius: $border-radius-xl;
    margin-top: 16px;
    font-size: 15px;
    line-height: 1.1;
    position: relative;

    .header-dropdown__overlay--active {
        display: flex;
        right: 0px;
        transform: translate(0px,10px);
 

        li {
            width: max-content;
        }

        .header-dropdown {
            display: flex;
            min-width: 300px;
            pointer-events: auto;
            li{
                display: inline-flex;
                flex-grow: 1;
                width: 100%;
            }
        }


    }


    .header__menu__dots {
        display: none;
        padding-inline: 0px !important;
        position: relative;
        .header-dropdown__overlay {
            pointer-events: none;
        }

        @media (max-width:1480px) {
            @include hover {
                background: transparent !important;
            }

            display: inline-flex !important;

            &-icons {
                z-index: 100;
                cursor: pointer;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4px;
                width: 38px;
                height: 38px;
                flex-shrink: 0;
                border-radius: $border-radius-xl-secondary;
                background: $primary-color-btn;

                @include hover {
                    background: $color-accent-third;

                    &>span {
                        background-color: $primary-color-btn;
                    }
                }
            }

            &-icons>span {
                color: white;
                background-color: white;
                display: inline-block;
                justify-content: center;
                border-radius: 50%;
                width: 3.5px;
                height: 3.5px;
                flex-shrink: 0;
            }
        }

    }

    /* Анимация */
    &.fixed {
        padding-top: 16px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: fixed;
        top: 0px;
        margin-inline: auto;
        max-width: 1600px;
        width: 100%;
        z-index: 1000;
        margin-top: 0px;
        animation: slideDownHeader $transition-timing ease-in-out forwards;

        @include laptop {
            width: 100%;
            max-width: calc(1480px - 40px);
        }

        /* Применение анимации */
        @media (max-width:1640px) {
            width: calc(100% - 40px);
        }



        @include tablet {
            max-width: calc(100% - 40px);
        }

        @include mobile-sm {
            max-width: calc(100% - 32px);
            width: 100%;
        }


    }

    @include mobile-sm {
        border-radius: $border-radius-sm;
        margin-top: 8px;
    }

    &__logo {
        width: 194px;
        aspect-ratio: 195/52;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include mobile-sm {
            width: 119px;
        }
    }

    @include laptop {
        padding-inline: 15px;
    }

    @include tablet {
        justify-content: space-between;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        @include laptop {
            gap: 20px;
        }
    }

    .nav {
        flex-grow: 1;

        @include tablet {
            order: -1;
            width: max-content;
            flex-grow: 0;
        }
    }

    &__menu {
        color: #30374A;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;


        @include laptop {
            flex-wrap: wrap;
            justify-content: center;
            gap: 4px;


        }

        @media (max-width:1480px) {
            justify-content: flex-end;
        }

        @media (max-width:1480px) {
            >li:not(.header-menu__li--is_dropdown) {
                display: none;
            }
        }

        @include tablet {
            display: none;
            justify-content: flex-start;
        }

        >li:not(.header-menu__li--is_dropdown, .header__menu__dots) {

            padding: 10px 12px;
            transition: all ease $transition-timing;
            z-index: 100;
            position: relative;
            border-radius: 4px;

            &.list__item_active {
                background-color: $primary-color-btn;
                color: #fff;
            }
            @include hover {
                background-color: #E6EFF6;
                color: $primary-color-btn;
                &.list__item_active {
                    background-color: $primary-color-btn;
                    color: #fff;
                }
            }

            // @include laptop {
            //     padding: 5px;
            // }

        }

        >li:is(.header-menu__li--is_dropdown, .header__menu__dots) {
            z-index: 100;
            padding: 10px 12px;
            border-radius: 4px;

            transition: all ease $transition-timing;

            // @include laptop {
            //     padding: 5px;
            // }
        }

        >li:hover:is(.header-menu__li--is_dropdown) {
            @include hover {
                background-color: $primary-color-btn;

                >a {
                    color: white;
                }

                svg path {
                    fill: white;
                }
            }
        }

        >li:hover:is(.header-menu__li--is_dropdown) .header-dropdown__overlay {
            display: flex;
            z-index: -1;

        }



    }

    &__group {
        display: flex;
        gap: 16px;
        align-items: center;

        @include laptop {
            flex-shrink: 0;
            gap: 4px;
        }
    }

    &__lang {
        font-family: "Raleway";
        display: inline-flex;
        align-items: center;
        padding: 10px 8px;
        border-radius: $border-radius-xl-secondary;
        background-color: #F4F5F6;
        color: #30374A;
        line-height: 1.1;
        transition: all ease $transition-timing;

        svg {
            margin-bottom: 2px;
        }

        cursor: pointer;

        @include tablet {
            display: none;
        }

        &:hover {
            background-color: #E6EFF6;

            .header-dropdown__overlay {
                display: flex;
            }
        }
    }

    .header-cabinet-mobile {
        display: none;

        @include tablet {
            display: block;
        }
    }

}

@keyframes slideDownHeader {
    from {
        opacity: 0;
        top: -50px;
        /* Начальное положение шапки — скрыто */
    }

    to {
        top: 0;
        /* Конечное положение — фиксировано вверху */
        opacity: 1;
    }
}


li.list__item_active {
    color: #fff;
    font-weight: 600;
    background: #0056a4;
}

.header-dropdown {
    li.list__item_active {
        @include hover {
            color: #fff;
            background: $primary-color-btn;
        }        
    }
}
.header-menu__li--is_dropdown {
    &.list__item_active {
        svg {
            path {
                fill: #fff;
            }
        }
        li {
            color: $primary-color-btn;
            &.list__item_active {
                color: #fff;
            }
        }
    }
}
