.mini-banner{
    margin-bottom: 64px;
    @include mobile-sm{
        margin-bottom: 56px;
    }
    &__row{
        display: flex;
        gap: 20px;
        @include mobile{
            flex-wrap: wrap;
            gap: 16px;
        }
    }
    &__author{
        font-size: 18px;
        max-width: 343px;
        line-height: 1.5;
        @include mobile-sm{
            font-size: 14px;


        }
    }
    &__col-desc{
        position: relative;
        padding: 69px 31px 46px 75px;
        @include mobile{
            padding-bottom: 0px;
        }   

        @include laptop{
            padding-top: 0px;
        }
        @include tablet{
            padding-left: 0px;
            padding-top: 0px;
        }

        @include mobile-sm{
            padding-left: 16px;
            padding-right: 0px;
        }
        &:before{
            content: url('data:image/svg+xml;utf8,<svg width="127" height="114" viewBox="0 0 127 114" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M73.4711 114L66.124 104.5C82.5675 90.7778 93.0634 73.1852 97.6116 51.7222C83.6171 51.7222 76.6198 44.6852 76.6198 30.6111C76.6198 21.463 79.4187 14.0741 85.0165 8.44443C90.9642 2.81481 97.4366 0 104.434 0C111.781 0 117.379 2.11111 121.227 6.33332C125.076 10.2037 127 15.4815 127 22.1667C127 56.6482 109.157 87.2593 73.4711 114ZM7.34711 114L0 104.5C17.4931 90.0741 27.989 72.4815 31.4876 51.7222C24.8402 51.7222 19.5923 49.787 15.7438 45.9167C12.2452 41.6944 10.4959 35.8889 10.4959 28.5C10.4959 20.7593 13.2948 14.0741 18.8926 8.44443C24.8402 2.81481 31.3127 0 38.3099 0C45.657 0 51.2548 2.11111 55.1033 6.33332C58.9518 10.2037 60.876 15.4815 60.876 22.1667C60.876 37.2963 57.0275 51.8982 49.3306 65.9722C41.9835 80.0463 34.8113 90.4259 27.814 97.1111C21.1667 103.444 14.3444 109.074 7.34711 114Z" fill="%23E6EFF6"/></svg>');
            position: absolute;
            top: 30px;
            left: 75px;
            @include tablet{
                top: -20px;
                left: 0;
            }
            @include mobile-sm{
                content: url('data:image/svg+xml;utf8,<svg width="73" height="66" viewBox="0 0 127 114" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M73.4711 114L66.124 104.5C82.5675 90.7778 93.0634 73.1852 97.6116 51.7222C83.6171 51.7222 76.6198 44.6852 76.6198 30.6111C76.6198 21.463 79.4187 14.0741 85.0165 8.44443C90.9642 2.81481 97.4366 0 104.434 0C111.781 0 117.379 2.11111 121.227 6.33332C125.076 10.2037 127 15.4815 127 22.1667C127 56.6482 109.157 87.2593 73.4711 114ZM7.34711 114L0 104.5C17.4931 90.0741 27.989 72.4815 31.4876 51.7222C24.8402 51.7222 19.5923 49.787 15.7438 45.9167C12.2452 41.6944 10.4959 35.8889 10.4959 28.5C10.4959 20.7593 13.2948 14.0741 18.8926 8.44443C24.8402 2.81481 31.3127 0 38.3099 0C45.657 0 51.2548 2.11111 55.1033 6.33332C58.9518 10.2037 60.876 15.4815 60.876 22.1667C60.876 37.2963 57.0275 51.8982 49.3306 65.9722C41.9835 80.0463 34.8113 90.4259 27.814 97.1111C21.1667 103.444 14.3444 109.074 7.34711 114Z" fill="%23E6EFF6"/></svg>');
           
            }
        }
    }

    &__image {
        border-radius: $border-radius-xl;
        overflow: hidden;
        @include mobile-sm{
            border-radius: $border-radius-sm;
        }
    }
    &__col-image{
       width: 32.5%;
       flex-shrink: 0;
       @include mobile{
        width: 100%;
       }
       
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__desc{
        position: relative;
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 27px;
        color: #200E32;
        font-weight: 500;
        @include mobile{
            margin-bottom: 16px;
        }
        @include mobile-sm{
            font-size: 20px;
            line-height: 1.4;
        }
    }
}