.notice-blue{
    background-color: #1460A31A;
    padding: 16px 24px;
    border-radius: $border-radius-xl-secondary;
    font-weight: 500;
    font-family: "Montserrat";
    color: $color-accent-secondary;
    background-color: #1460A31A;
}