.notice-blue{
    background-color: #1460A31A;
    padding: 16px 24px;
    border-radius: $border-radius-xl-secondary;
    font-weight: 500;
    font-family: "Montserrat";
    color: $color-accent-secondary;
    background-color: #1460A31A;
    @include mobile-sm{
        padding: 8px 16px ;
        font-size: 14px;
        line-height: 1.5;
    }
}