.section-participant {
    background: #fff;
    padding: 64px 72px;
    border-radius: 16px;
    margin-bottom: 100px;
    @include tablet {
        padding: 42px;
    }
    @include mobile {
        padding: 24px 16px;
    }
    &__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
    }
}

.article-participant {
    display: flex;
    align-items: flex-start;
    color: $color-text-accent;
    margin-bottom: 54px;
    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    ul {
        padding-left: 28px;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 7px;
            top: 5px;
            width: 1px;
            height: 100%;
            background: #0056A4;
        }
    }
    li {
        position: relative;
        margin-bottom: 8px;
        line-height: 25px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -26px;
            top: 5px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #0056A4;
        }
        &:nth-last-child(1) {
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: -21px;
                top: 17px;
                background: #fff;
                width: 1px;
                height: 100%;
            }
        }
    }
    b {
        margin-top: 8px;
        line-height: 25px;
    }
    &:nth-last-child(1) {
        margin-bottom: 0;
    }
    p {
        font-size: 16px;
        line-height: 25px;
        @include mobile-sm {
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__col {
        width: 985px;
        margin-right: 24px;
        flex-shrink: 0;
        @include laptop {
            width: calc(100% - 420px);
        }
        @include tablet {
            width: calc(100% - 320px);
        }
        @include mobile {
            width: 100%;
            margin-bottom: 32px;
        }
        @include mobile-sm {
            margin-bottom: 24px;
        }
        p {
            margin-bottom: 24px;
        }
    }
    &__option {
        padding: 16px 24px;
        background: rgba(20, 96, 163, 0.1);
        border-radius: 8px;
        color: $primary-color-btn;
        h4 {
            font-family: "Unbounded";
            font-weight: 400;
            margin-bottom: 10px;
        }
        p {
            font-weight: 500;
            margin: 0;
            padding: 0;
            @include mobile-sm {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}