.section-photo-gallery{
    margin-bottom: 79px;
    @include mobile-sm{
        margin-bottom: 36px;
    }
    &__inner{
        display: flex;
        flex-direction: column;

    }
    &__body{
        position: relative;
  
        @include mobile-sm{
            order: 2;
            margin-bottom: 16px;
        }
    }
    .slider-scrollbar{
        display: none;
        @include mobile-sm{
            display: block;
        }
    }
    &__header{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;
        padding-left: 72px;
        >.btn{
            width: max-content;
            order: 3;
        }
        h2{
            @include mobile-sm{
                padding-left: 16px;
                order: 1;
                margin-bottom: 16px;
            }
        }
        @include tablet{
            padding-left: 30px;
        }
        @include mobile-sm{
            display: contents;
        }
    }
    .slider-arrow-chevron{
        position: absolute;
        @include mobile-sm{
            display: none;
        }
        &--prev{
            left: -4px;

        }
        &--next{
            right: -4px;

        }
        
    }
    
    .slider-photo-gallery{
        height: 540px;
        @include mobile-sm{
            height: 181px;
            box-sizing: content-box;
        }
        .swiper-wrapper{
            width: 100%;
            align-items: stretch;
            
            @include mobile-sm{
            height: 181px;
            box-sizing: content-box;
            }
        }
      
        @include mobile-sm{
            padding-bottom: 23px;
          
        }
       
        &__item{
            border-radius: $border-radius-xl;
            overflow: hidden;
            height: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 540px;
                overflow: hidden;
            }
            @include mobile-sm{
                border-radius: $border-radius-sm-secondary;
            }
        }
    
         &__item.swiper-slide.swiper-slide-active{
    
            opacity: 1 !important;
            width: calc(50% - 24px) !important;
            @include tablet{
                width: 50% !important ;
            }
            @include mobile-sm{
                width: 80% !important;
            }
            img{
                opacity: 1;
            }
            
            
          }
          
         &__item.swiper-slide.swiper-slide-next,&__item.swiper-slide.swiper-slide-prev
           {
         
             width: calc(((100% - 48%) / 4) + 30px)  !important; /* Боковые изображения занимают 30% */
             @include tablet{
                width: 25% !important ;
            }
            @include mobile-sm{
                width: 80% !important;
            }
            img{
                opacity: 1;
            }
            
          } 
          
          &__item.swiper-slide
           {
                
             width: calc(((100% - 48%) / 4) / 2)  !important; /* Крайние изображения занимают 20% */
             @include tablet{
                width: 30% !important;
            }

            @include mobile-sm{
                width: auto !important;
            
                img{
                    opacity: 1 !important;
                }
            }
            img{
                opacity: 0.6;
            }
          }
    }
}