.section-marafon-page-quote{
    .slider-quote__arrows{
        @include tablet{
            margin-bottom: 20px
        }
    }
    margin-bottom: 80px;
    &__inner{
        @include mobile-sm{
            padding-bottom: 13px;
        }
    }
    @include mobile-sm{
        margin-bottom: 56px;
    }
    @include mobile-sm{
        .slider-quote__arrows{
            display: none;
        }
    }
}